[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0.7"
psycopg2 = "*"
pillow = "*"
django-ckeditor = "*"
django-multiselectfield = "*"
django-allauth = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.11"
